
	<!--link rel="stylesheet" href="css/reset.css" --> <!-- reset removed by bob-->
	<link rel="stylesheet" href="css/packages.css">
    
    {{> jumbotron}}
	
	{{> navbar}}

    <div class="packages-outer-grid">

        {{#each Packages}}
        <!-- Package starts here -->
        <div class="package-grid">

            <div class="package-image" style="background-image: url('/media/packages/{{PackageId}}.jpg'); background-position: center; background-size: 500px;"></div>

            <div class="package-details-grid">
                <div class="package-name">
                    {{PkgName}}
                </div>
                <div class="package-desc">
                    {{PkgDesc}}
                </div>
                <div class="package-dates">
                   {{PkgStartDate}} - {{PkgEndDate}}
                </div>
                <div class="package-price">
                    Price: ${{PkgBasePrice}}
                </div>
                {{!-- Button is wrapped in a form so it submits as a post request --}}
                <form action="/orders" method="post">
                    <input type="hidden" id="packageId" name="packageId" value="{{PackageId}}">
                    <input type="submit" name="Order" value="Order" />
                </form>
            </div>

        </div>
        {{/each}}
        <!-- Package ends here -->

        

    </div> <!-- End outer package outer grid-->
